<div class="home-body">
    <%# <div class="black"> %>
            <p class="home-title">SAMURA.P.I.</p>

        <%# <div class="home-p"> %>
            <div class="home-bg">
                <div class="home-intro">
                    <p class="body-para">A sanctuary where people who like everything samurai and eastern philosophy.</p>
                    <p class="body-para">Here we are all students of the bushido.</p>

                    <p class="body-para">Get started by leaping into the about and see what our mission is.</p>
                </div>
            </div>
        <%# </div> %>
        <%# <a href="/about">About</a> %>
        <%# <a href="/credits">Credits</a> %>
        <%# <a href="/media">Media</a> %>
        <%# <a href="/users">Students</a> %>

        <%# <div id="jump-in-about"></div> %>
    </div>
</div>