<%# <div class="credits-body"> %>
    
    <div id="credits" class="credits-page rellax" data-rellax-speed="0">
        <main class="about">
            <p class="credit-title" 
                data-aos="fade-up"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
                data-aos-once="false">
                The Web Developer</p>

            <div class="info">
                <div class="credit-about">
                    <div class="intro-bg">
                        <p class="body-heading">Daniel Marroquín</p>
                        <p class="body-para">DM designed this website out of his interest and love of martial arts and eastern philosophy.
                            In his teenage years he didn't have that many in-depth conversations about bushido unless it was referencing a shallow perception from a stereotypical portrayal in which he tried to get past.
                            Seeking and creating for a path to improve oneself is a fundamental quality that he has been trying to pusrue throughout most of his life and hopes that this site serves as a platform that can let people come together to express their love about bushido.
                        </p>
                    </div>
                </div>

                <div id="author-image" class="author-image"></div>
            </div>
        </main>
    </div>

    <div id="credits" class="page">
        <div class="library">
            <p class="credit-title" 
                    data-aos="fade-up"
                    data-aos-delay="50"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    data-aos-mirror="true"
                    data-aos-once="false">
                    Credits</p>
            <div class="lib-list">
                <h3 class="body-heading" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out">Libraries Used</h3>
                <p><a class="jump-lib" data-aos="fade-up" data-aos-delay="10" data-aos-duration="1000" data-aos-easing="ease-in-out" href="https://jquery.com/">jQuery</a></p>
                <p><a class="jump-lib" data-aos="fade-up" data-aos-delay="15" data-aos-duration="1000" data-aos-easing="ease-in-out" href="https://dixonandmoe.com/rellax/">Rellax</a></p>
                <p><a class="jump-lib" data-aos="fade-up" data-aos-delay="20" data-aos-duration="1000" data-aos-easing="ease-in-out" href="https://michalsnik.github.io/aos//">AOS</a></p>
                <p><a class="jump-lib" data-aos="fade-up" data-aos-delay="25" data-aos-duration="1000" data-aos-easing="ease-in-out" href="https://github.com/almightynay/jQuery-Sakura">jQuery Sakura</a></p>
                <p><a class="jump-lib" data-aos="fade-up" data-aos-delay="30" data-aos-duration="1000" data-aos-easing="ease-in-out" href="https://github.com/cferdinandi/smooth-scroll">Smooth Scroll</a></p>
                <p><a class="jump-lib" data-aos="fade-up" data-aos-delay="35" data-aos-duration="1000" data-aos-easing="ease-in-out" href="https://flickity.metafizzy.co/">Flickity</a></p>
                <%# <p><a class="jump-lib" data-aos="fade-up" data-aos-delay="40" data-aos-duration="1000" data-aos-easing="ease-in-out" href="https://github.com/zellwk/zl-fetch">zl-fetch</a></p> %>
            </div>
        </div>
    </div>

<%# </div> %>