<%# <div class="about-body"> %>

    <div id="parallax1" class="parallax rellax" data-rellax-speed="0">
            <p class="brushstroke rellax" data-rellax-speed="-1.5" 
            data-aos="fade-up"
            data-aos-delay="10"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
            >ABOUT</p>
    </div>

    <div id="section-two" class="page rellax" data-rellax-speed="0">
        <main class="about">
            <%# <p class="body-title">About</p> %>
            <div class="info">
                <div class="intro-about">
                    <p class="tenet-title">What is SamurA.P.I.?</p>
                    <p class="body-para">SamurA.P.I. is an app for all those who are interested in the way of the samurai and can learn more about the philosophy about the great Japanese warriors.
                        This little turf on the internet provides information about 'Bushido', the philosophy and the code of conduct the samurai devoted themselves to uphold in their lives and to share various media where people can discover more about this code.
                        It was started by an average guy who had an inkling of an idea about wanting to congregate and share one of his many interests with the world by creating a website where people can learn about the warriors.
                    </p>
                    <br />
                    <p class="tenet-title">Why SamurA.P.I.?</p>
                    <p class="body-para">The average guy who built this app is also a budding web developer, who has been working with API's: Application Programming Interface, where it allows applications to communicate with one another.
                        It's basically an access point to an app that can access a database. So along with samurai philosophy, the average guy likes his terrible puns and wordplays.
                        He built this app intended as an access point to all things samurai related.
                        And yes, he is aware it sounds dangerously close to 'Summer of a P.I.'
                    </p>
                </div>

                <div id="first-sam" class="hero-image" 
                    data-aos="fade-left"
                    data-aos-delay="50"
                    data-aos-duration="2000"
                    data-aos-easing="ease-in-out"
                    data-aos-mirror="true"
                    data-aos-once="false"
                ></div>
            </div>
        </main>
    </div>

    <div id="parallax5" class="parallax"></div>

    <main class="b-page">
        <main class="about">
            <div class="info">

                <div id="third-sam" class="hero-image" 
                    data-aos="fade-left"
                    data-aos-delay="50"
                    data-aos-duration="2000"
                    data-aos-easing="ease-in-out"
                    data-aos-mirror="true"
                    data-aos-once="false"
                ></div>

                <div class="intro-about">
                    <p class="tenet-title">What is Bushido?</p>
                    <p class="body-para">
                        Bushido was the code for Japan's warrior classes from perhaps as early as the 8th century through modern times. The word "bushido" comes from the Japanese roots "bushi" meaning "warrior," and "do" meaning "path" or "way." Literally, then, it can be translated as the "way of the warrior." 
                    </p>
                    <p class="body-para">
                        It is the code of conduct followed by Japan's samurai warriors and their precursors in feudal Japan, as well as much of central and east Asia. The principles of bushido emphasized honor, courage, frugality, skill in the martial arts, and loyalty to a warrior's master (daimyo) above all else. It is somewhat similar to the ideas of chivalry that knights followed in feudal Europe, and has just about as many bits of folklore—such as the 47 Ronin of Japanese legend—that exemplify bushido as the European counterparts do of their knights.
                    </p>
                    <a href="/bushido" class="body-heading-link">Learn More about Bushido</a>
                </div>
            </div>
        </main>
    </main>

    <div id="parallax0" class="parallax"></div>

    <main class="page">
        <main class="about">
            <%# <p class="body-title">About</p> %>
            <div class="info">
                <div class="intro-about">
                    <p class="tenet-title">The Students</p>
                    <p class="body-para">Everyone who shares their content here are honorary students of Bushido, and essentially students of life.
                        Here we encourage people to learn the ways of Bushido and to become stronger and wiser people.
                        Students start conversations about what they've learnt and reflections on daily life and leave the floor open for other students who want to chime in with their opinions.
                    </p>

                    <p class="body-para">SAMURA.P.I. is an open-source app for learning: You do not need to be logged in to read students' think-pieces.
                        However if you wish to contribute to the conversation, you can make an account and start congregrating with students.</p>
            
                    <p class="body-para">Note: We do not tolerate anti-social behaviour.</p>

                    <a href="/users" class="body-heading-link">Meet the Students</a>

                </div>

                <div id="second-sam" class="hero-image" 
                    data-aos="fade-right"
                    data-aos-delay="50"
                    data-aos-duration="2000"
                    data-aos-easing="ease-in-out"
                    data-aos-mirror="true"
                    data-aos-once="false"
                ></div>
            </div>
        </main>
        
    </main>

    <div id="parallax1x" class="parallax"></div>

    <main class="page">
        <main class="about">
            <div class="info">

                <div id="fourth-sam" class="hero-image" 
                    data-aos="fade-right"
                    data-aos-delay="50"
                    data-aos-duration="2000"
                    data-aos-easing="ease-in-out"
                    data-aos-mirror="true"
                    data-aos-once="false"
                ></div>

                <div class="intro-about">
                    <p class="tenet-title">Media</p>
                    <p class="body-para">This app is intended to be a launchpad into the philosophy of samurai, and we believe further education and inspiration is paramount to practice the tenets.
                        We've provided a library of media relating to samurai: films, tv shows and books.
                        <%# If you have an interest in the title you've chosen, we also provided a link where you can purchase or stream it. %>
                    </p>

                    <a href="/media" class="body-heading-link">Browse Samurai Media</a>
                </div>
            </div>
        </main>
    </main>

<%# </div> %>